#Virtual Environment
.venv/
.vscode/
.pytest_cache/
# Ignorar arquivos de configuração do sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos de log
*.log

# Ignorar arquivos de cache do Python
__pycache__/
*.py[cod]

# Ignorar diretórios de cache do pytest
.cache/

# Ignorar diretórios de cache do Django
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/